body {
    --h1-size: 1.9em;
    --h2-size: 1.62em;
    --h3-size: 1.35em;
    --h4-size: 1.1em;
    --h5-size: 1.0em;
}

/* Replace bullet list symbol with dash symbol. */
.callout-content ul>li::marker {
    content: '\2013    ';
}

.list-bullet::after {
    display: none;
}

.list-bullet::before {
    content: "\2013 ";
    margin-left: -0.3em;
    color: var(--list-marker-color);
}

/* Add margin before code block. */
.markdown-source-view.mod-cm6 .HyperMD-codeblock-begin {
    margin-top: 10px !important;
    margin: 0;
    display: block;
}

/* Add margin after code block. */
.markdown-source-view.mod-cm6 .HyperMD-codeblock-end {
    margin-bottom: 8px !important;
    margin: 0;
    display: block;
}

/* Table header centered by default. */
.markdown-rendered th {
    text-align: center;
}

/* Padding after table. */
table {
    margin-bottom: 5px !important;
}

/* Add line after h1 and h2 */
h1,
h2,
.markdown-rendered h1,
.markdown-rendered h2,
.HyperMD-header.HyperMD-header-1.cm-line,
.HyperMD-header.HyperMD-header-2.cm-line {
    border: none;
    border-bottom: var(--hr-thickness) solid;
    padding-bottom: 8px;
    border-color: var(--hr-color);
}

/* monospace font for metadata and file path */
.view-header-title-container,
.mod-root .workspace-tab-header-inner,
.metadata-content {
    font-family: var(--font-monospace);
}

.metadata-container .metadata-add-button {
    margin-top: 0.2em;
}
